/* From Uiverse.io by mrhyddenn */ 
/* LandingPage.css */
.header {
    text-align: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    
  }  
  /* Add some basic padding for the overall structure */
  div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
   
  }

  /* Home.css */
  .Styled-rapper {
  background-color: var(--background-color, #ffffff); /* Default to white */
  min-height: 100vh; /* Covers the full screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease; /* Smooth transition */
}


  /* dropdown */

  .select {
    width: fit-content;
    cursor: pointer;
    
    transition: 300ms;
    color: white;
    overflow: hidden;
    
  }

  .selected {
    background-color: #2a2f3b;
    padding: 10px;
    margin-bottom: 3px;
    border-radius: 15px;
    display: flex;
    z-index: 100000;
    font-size: 15px;
    position: relative; 
    align-items: center;
    justify-content: space-between;
    width: 200px;
  }

  .arrow {    
    
    height: 10px;
    transform: rotate(-90deg);
    width: 25px;
    fill: white;
    z-index: 100000;
    transition: 300ms ease;
  }

  .options {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 5px;
    background-color: #2a2f3b;
    position: relative;
    top: -25px;
    opacity: 0;
    transition: 300ms;
    
  }

  .select:hover > .options {
    opacity: 1;
    top: 0;
  }

  .select:hover > .selected .arrow {
    transform: rotate(0deg);
  }

  .option {
    border-radius: 10px;
    padding: 5px;
    transition: 300ms;
    background-color: #2a2f3b;
    width: 170px;
    font-size: 15px;
    margin-bottom: -15px;
  }
  .option:hover {
    background-color: #323741;
  }

  .options input[type="radio"] {
    display: none;
  }

  .options label {
    display: inline-block;
  }
  .options label::before {
    content: attr(data-txt);
  }

  .options input[type="radio"]:checked + label {
    display: none;
  }

  .options input[type="radio"]#all:checked + label {
    display: none;
  }

  
  .r-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .r-button button {
    background: linear-gradient(45deg, #db42dd, #ad1cf0); /* Purple gradient */
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .r-button button:hover {
    background: linear-gradient(45deg, #db42dd, #ad1cf0); /* Change gradient on hover */
    transform: scale(1.10); /* Slightly enlarge the button on hover */
  }
  
  

  
  
